<footer class="p-2 px-6">
    <hr class="border-t-2 border-light-secondary dark:border-dark-secondary-secondary">
    <div class="flex flex-col items-center mb-8 lg:mb-0 p-3">
        <a href="{{ path('home_index') }}" class="text-3xl font-bold leading-none">
            <img src="{{ asset('banner.svg') }}" alt="Logo" class="h-12">
        </a>
        <p class="mt-2 text-sm text-center text-light-primary dark:text-dark-primary">
            © {{ 'now'|date('Y') }} ENI Sortir. Tous droits réservés.
        </p>
    </div>
</footer>