{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sorties{% endblock %}

{% block body %}

    <section class="flex flex-row justify-center flex-wrap mx-auto p-6 md:px-32">
        <div class="m-2 w-full lg:w-5/6">
            {% include 'outing/search.html.twig' with {'formSearch':formSearch} only %}
        </div>

        {% if outings|length == 0 %}
            <h2 class="w-full text-3xl mt-5 text-center font-extrabold text-black sm:text-4xl">Aucune sortie ne correspond à
                votre
                recherche</h2>
        {% else %}
            <section class="flex flex-row justify-center flex-wrap mx-auto p-6 md:px-32">
                {% for outing in outings %}
                    {% include 'outing/card.html.twig' with {'outing': outing} %}
                {% endfor %}
            </section>
        {% endif %}
    </section>

{% endblock %}
