{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Administration ENI Sortir{% endblock %}

{% block content_title %}Administration{% endblock %}

{% block main %}
    <h1>Hello world !</h1>
{% endblock %}