.box-login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    margin-inline: 20px;
  }
}

.profile-page {
  .profile-picture {
    $size: 200px;
    width: $size;
    height: $size;
    object-fit: cover;
  }
}

nav {
  li {
    a.logout {
      &:hover {
        background-color:var(--bs-danger);
        color: white;
      }
    }
  }
}

.dynamic-picture-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.dynamic-profile-picture-container{
    border-radius: 50%;
  }

  .dynamic-picture {
    display: block;
  }

  .camera-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50); /* Fond semi-transparent noir */
    color: white;
    font-size: 24px;
    border-radius: inherit;
    pointer-events: none;
  }

  &:hover .camera-overlay {
    display: flex;
  }

}

.outing-details {
  .title {
    font-weight: bold;
    color: #454545;
  }
}