.box-login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    margin-inline: 20px;
  }
}

.profile-page {
  .profile-picture {
    width: 200px;
  }
}

nav {
  li {
    a.logout {
      &:hover {
        background-color:var(--bs-danger);
        color: white;
      }
    }
  }
}